/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

#header{
	background-color: #66F;
	height: 200px;
	background-image: url(/assets/violin placeholder-1554c4163e95231f62cb0266616224b986ea37fe4e18dfd337d47f8f1af283c7.png);
	/*background-image: url("app/assets/images/violin placeholder.png");*/
}
#title{
	position: relative;
/*	width: 750px;
	height: 200px;*/
	margin: 0px auto; 
	text-align: center;
	font-size: 38px;
	font-family: helvetica;
	top:50%;
	transform: translateY(-50%);

}
