<div id= "content">
    <div id= "welcome">
        Welcome to Keith Connor's Strings Studio
    </div>
    <div id= "intro">
        Teaching violin, cello, and guitar lessons in the greater Sacramento / Elk Grove area
    </div>
    <div id= "practice-link">
        <%= link_to "Click here for the MP3 practice files", mp3files_path %>
    </div>
    <div id= "reasons">
        <ul>
            <li>Individualized lessons encourage each student to attain their personal music goals</li>
            <li>Students work on fun, musically instructive pieces</li>
            <li>Over fifteen years of teaching experience</li>
            <li>Studio and in-home lessons available</li>
        </ul>
    </div>
</div>