

<div id= "content">
    <div id= "welcome" class = "title">
        Welcome to Keith Connor's Strings Studio
    </div>
    <div id= "intro" class = "body">
        Teaching violin, bass, cello, and guitar lessons in the greater Sacramento / Elk Grove area. Offering over 15 years of instruction, students have the opportunity for individulaized lesson to achieve their personal music goals. Bothe studion and in-home options are available. *In-home lessons require an additional travel charge, which depends on mileage.*
    </div>
    <div id= "practice-link" class = "body">
        <%= link_to "Click here for the MP3 practice files", mp3files_path %>
    </div>
    <!--<div id= "reasons" class = "body">-->
    <!--    <ul>-->
    <!--        <li>Individualized lessons encourage each student to attain their personal music goals</li>-->
    <!--        <li>Students work on fun, musically instructive pieces</li>-->
    <!--        <li>Over fifteen years of teaching experience</li>-->
    <!--        <li>Studio and in-home lessons available</li>-->
    <!--    </ul>-->
    <!--</div>-->
    <div id= "rate-title" class = "title">
        Rates
    </div>
    <div id= "rates" class = "body">
        <table align = "center">
            <tr>
                <th>Time</th>
                <th>price per lesson</th>
            </tr>
            <tr>
                <td>30 minutes</td>
                <td>$25</td>
            </tr>
            <tr>
                <td>45 minutes</td>
                <td>$35</td>
            </tr>
            <tr>
                <td>1 hour</td>
                <td>$45</td>
            </tr>
        </table>
    </div>
    <div id = "ratesinfo" class = "body">
        <p>Lessons are scheduled on a monthly basis - with payment due at the 1st lesson of each month.  No charge for skipped / missed lessons with at least two weeks notice.  For in-home lessons a travel charge is added to the above rate depending on mileage.</p>  
        <p>I teach a small ensemble group open to students with an intermediate note reading ability. This group meets on Sundays at 2:30 for 1 hour and costs $10 per session.</p>
    </div>
    <div>
        <br>

    </div>
    <%= render partial: 'layouts/locations' %>
</div>
