.form{
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    box-shadow: 2px 4px 5px darkgrey;
    
}
.form h1{
    font-size:20px;
}
.label{
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
.form-field input, .form-field textarea{
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    max-width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.form-field textarea{
    height:100px;
    padding: 5px 3px 3px 5px;
}
.form .submit{
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
    margin-left: 50%;
}
.form .submit:hover {
    background: #CF7A7A
}