.title{
    font-size: 35px;
    margin: 20px;
}
.body{
    font-size: 20px;
}
#welcome{
    /*text-decoration:underline;*/
    font-family:"Times New Roman", Times, serif;
    border-bottom: 3px solid #000;
    display:inline-block;
}
#intro{
    margin: auto;
    margin-top: 20px;
    width:50%;
    text-align:left;
}
#practice-link{
    margin: 10px;
}
#reasons ul{
    display: inline-block;
}
#reasons li{
    text-align: left;
}
#rates table, tr, th, td{
    padding: 5px;
    border-collapse: collapse;
    border: 2px solid;
}
#ratesinfo{
    margin: auto;
    margin-top: 20px;
    width:50%;
    text-align:left;
}
#lessonimage{
    position:absolute;
    left: 10px;
}
#locations{
    margin: auto;
    width: 50%;
}
#map-canvas1, #map-canvas2, #pano1, #pano2{
    display:inline-block;
    margin:auto;
    width:300px;
    height:280px;
}