<div id = "locations" class = "body">
    I teach at these locations:
    <p>The Pease Conservatory on Sunday afternoons</p>
    <p>2130 L Street,  Sacramento 95816</p>
    <div id = "maps1">
        <div id = "map-canvas1">
        </div>
        <!--<div id = "pano1">-->
        <!--</div>            -->
        <div id = "homeimage">
            <%= image_tag "pease.png", id: "homeimage"%>
        </div>
    </div>

    <p>The Clarksburg Community Church; Mondays & Wednesdays.</p>
    <p>52910 Netherlands Ave. Clarksburg 95612</p>
    <div id = "maps2">
        <div id = "map-canvas2">
        </div>
        <%= image_tag "church.jpg", id: "homeimage"%>
        <!--<div id = "pano2">-->
        <!--</div>            -->
    </div>
    <p>The Music Institute of Roseville; Tuesdays.</p>
    <p>931 Washington Blvd, Roseville, CA 95678</p>
    <div id = "maps3">
        <div id = "map-canvas3">
        </div>
        <%= image_tag "music-institute.jpg", id: "homeimage"%>
        <!--<div id = "pano2">-->
        <!--</div>            -->
    </div>
</div>