<!DOCTYPE html>
<html>
<head>
  <title>Dadssite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='header'>
	<div id='title'>
		Keith Connor's Music Lessons
	</div>

	
</div>
<div id = 'navbar'>
	<ul>
		<li id = 'home' class = 'navitem'>Home</li>
		<li id = 'lesson' class = 'navitem'>Lesson Schedule</li>
		<li id = 'videos' class = 'navitem'>Videos</li>
		<li id = 'mp' class = 'navitem'>MP3 Files</li>
		<li id = 'contact' class = 'navitem'>Contact Me</li>
		<!-- <li class = 'navitem'>  </li>
		<li class = 'navitem'>  </li> -->
	</ul>
</div>
<%= yield %>

</body>
</html>
